.header {
  height: 450px;
  color: $primaryTextColor;

  & > div {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.title {
  text-align: center;

  h1 {
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}

.logos {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  div {
    margin-right: 1rem;
  }

  svg {
    fill: $primaryTextColorVariant;
  }

  a:hover,
  a:focus,
  a:focus-visible {
    svg {
      fill: $secondaryColor;
    }
  }
}
