/*****************/
/* CUSTOM RESETS */
/*****************/

/**************/
/* TYPOGRAPHY */
/**************/
html {
  font-size: 16px;
  font-family: 'Spartan', sans-serif;
}

body {
  font-size: 100%;
}

h1 {
  font-size: 2.5rem;
}

/*********/
/* LINKS */
/*********/
a {
  color: $secondaryColor;
}

a:hover,
a:focus,
a:focus-visible {
  color: $secondaryColor;
  text-decoration: underline;
}
