/*****************/
/* CUSTOM RESETS */
/*****************/

/**********/
/* COLORS */
/**********/
$primaryColor: #051345;
$primaryLightColor: #383871;
$primaryDarkColor: #00001f;
$secondaryColor: #f44336;
$secondaryLightColor: #ff7961;
$secondaryDarkColor: #ba000d;
$primaryTextColor: #ffffff;
$secondaryTextColor: #000000;

/**************/
/* TYPOGRAPHY */
/**************/
html {
  font-size: 16px;
  font-family: 'Spartan', sans-serif;
}

body {
  font-size: 100%;
}
