/**********/
/* COLORS */
/**********/
$primaryColor: #000c24;
$primaryLightColor: #29334c;
$primaryDarkColor: #000000;
$secondaryColor: #f44336;
$secondaryLightColor: #ff7961;
$secondaryDarkColor: #ba000d;
$primaryTextColor: #ffffff;
$primaryTextColorVariant: #928a97;
$secondaryTextColor: #000000;
